# ==========================================
# RESEND EMAIL CONFIGURATION
# ==========================================

# Replace with your Resend API key

RESEND_API_KEY=re_XXXXXXXXXXX

# Replace with your verified domain email address (https://resend.com/docs/dashboard/domains/introduction)

RESEND_FROM_EMAIL=onboarding@resend.dev
